html{
    background-color: #edf2c5;
    box-sizing: border-box;
    max-width: 1260px;
    max-height: 940px;
    margin:auto;
}

.title{
    font-family: Arial;
    font-size: 44px;
    font-weight: 900;
    color: #778a50;
    margin: 53px 0 0 160px;
    width: 271px;
    height: 62px;
    line-height: 0.82;
    letter-spacing: normal;
    text-align: left;
}

.icn_fb{
    position:absolute;
    margin-left:900px;
    top:60px;
}

.icn_ig{
    position:absolute;
    margin-left:935px;
    top:60px;
}

.line_login {
    position:absolute;
    width: 1px;
    height: 25px;
    background-color: #778a50;
    margin-left:970px;
    top:60px;
}

.box_login{
    position:absolute;
    top:60px;
    border: solid 1px #778a50;
    border-radius: 3px;
    
    width: 46px;
    height: 15px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #778a50;
    margin: 0 auto auto 981px;
    padding: 4px 6px;
}

.box_join{
    position:absolute;
    top:60px;
    border: solid 1px #778a50;
    border-radius: 3px;
    
    width: 35px;
    height: 15px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #778a50;
    margin: 0 auto auto 1051px;
    padding: 4px 6px;
}

.nav_list {
    display: flex;
    width: 940px;
    height: 44px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
}

.bar{
    position:absolute;
    font-family: 'Arial Black';
    color: #EDF2C5;
    font-size: 16px;
    background-color: #778A50;
    width:940px;
    height:44px;
    margin-left:160px;
    margin-right:160px;
    top:103px;
    border-radius: 3px;
    z-index:9;
    padding:0;
}

li{
    list-style:none;
}

.bar_home{
    position:absolute;
    margin-left:30px;
    z-index:99;
}

.bar_aboutus{
    position:absolute;
    margin-left:141px;
    z-index:99;
}
.bar_vegetables{
    position:absolute;
    margin-left:281px;
    z-index:99;
}
.bar_online{
    position:absolute;
    margin-left:439px;
    z-index:99;
}
.bar_contact{
    position:absolute;
    margin-left:555px;
    z-index:99;
}
.main_picture{
    margin:167px 160px 0 160px;
    justify-content: center;
}

.bar2{
    font-family: 'Arial Black';
    color: #EDF2C5;
    font-size: 16px;
    background-color: #778A50;
}

.footer{
    position:absolute;
    font-family: Arial;
    color: #EDF2C5;
    font-size: 12px;
    background-color: #778A50;
    text-align:center;
    justify-content: center;
    padding:23px;
    width: 1260px;
    top:880px;
}